@import "../variables.css";

.button {
  color: var(--primary-color);
  background-color: transparent;
  outline: none;
  border: transparent;
  position: absolute;
  rotate: 270deg;
  bottom: 30px;
  left: -30px;
  font-weight: 700;
  text-transform: uppercase;
}
