@import "../variables.css";

.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 5%;
  row-gap: 20px;
}
.form > input,
textarea,
button {
  background-color: transparent;
  border: 1px solid var(--border-form);
  outline: none;
  color: var(--border-form);
  font-weight: 600;
}

.form > input::placeholder,
textarea::placeholder {
  color: var(--border-form);
}

.form > input {
  width: 200px;
  height: 20px;
  padding: 15px;
}

.form > textarea {
  width: 200px;
  padding: 15px;
  height: 150px;
  resize: none;
}

.form > button {
  padding: 5px;
}
button:hover {
  background-color:var(--border-form);
  color: var(--bg-color);
}
