@import "../variables.css";

.container__contact {
  position: absolute;
  bottom: 1%;
  right: 2%;
  display: flex;
  column-gap: 20px;
}

.container__contact > a {
  color: var(--primary-color);
  font-size: 1.5em;
}
