@import "../variables.css";

.section__projects {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  flex-direction: column;
  text-align: end;
}

.project__link {
  display: flex;
  justify-content: end;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.technology {
  font-size: 12px;
}
.title {
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-color);
  text-align: end;
  text-shadow: rgb(0, 0, 0) 0px 0 30px;
}

.title [data-theme="dark"] {
  text-shadow: white 0px 0 24px;
}

@media (min-width: 530px) {
  .section__projects {
    position: absolute;
    top: 3%;
    right: 5%;
  }

  .title {
    text-align: end;
  }
}
